header {
    background-color: grey;
    padding: 20px;
}

.caixa1 {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa1 nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa1 nav li {
    display: inline;
    margin: 0 0 0 15px;
}

.caixa1 nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.caixa1 nav a:hover {
    color: blueviolet;
    text-decoration: underline;

}

#banner {
    width: 100%;
    display: block;
}

.principal {
    background: url(bg.jpg);
    padding: 25px;
}

.titulo-centro { 
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    
}

p {
    text-align: center;
    color: grey
}

#missao  {
    font-size: 20px;
    padding:5px 0;
}

em strong {
    color: darkred;
    font-size: larger;
}

.itens {
    font-style: italic;
    font-size: 20px;
}

.beneficios {
    background: grey;
    padding: 20px;

}

.beneficios h3 {
    color: black
}

.beneficios ul {
  display: inline-block;  
  vertical-align: top;
  width: 25%;
  margin-right: 15%;
}

.beneficios li {
    padding: 5px 0; 
}

.imgbeneficios {
    width: 55%;
}

footer {
    text-align:center;
    background: url(bg.jpg);
    padding: 40px 0;

}

.copyright {
    color: grey;
    font-size: 13px;
    margin-top: 20px;
    
}

